<div class="container my-3">
  <div class="text-center border border-light p-5 col-md-6 offset-md-3">
    <div class="h4 mb-4">Forgot your password?</div>

    <div class="mb-4">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      placeholder: 'Email',
                      label:false,
                      input_html: { autocomplete: "email" }%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "btn btn-secondary btn-block my-4" %>
        </div>
      <% end %>
      <br>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>